  <p>
    Aqui ponemos algun tipo de texto maravilloso-espectacular para vender esta vuelta
  </p>

    <mat-expansion-panel>
      <mat-expansion-panel-header >
          <mat-panel-title>
              <h1>BAJO</h1>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="assets/images/bajo peruano.jpg" alt="bajo" width="150" height="150">
      
     <!-- <button mat-flat-button>Mis Cursos</button><br>   -->
       <a [routerLink]="['/bajo']">
      <button mat-flat-button>Ver Lecciones</button>
      </a>
    </mat-expansion-panel>
  <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header >
          <mat-panel-title>
              <h1>Cajon peruano</h1>
            </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="assets/images/cajonperuano.jpg" alt="cajon_peruano" width="150" height="150">
      <!-- <button mat-flat-button>Mis Cursos</button><br>   -->  
      <a [routerLink]="['/cajon']">
          <button mat-flat-button>Ver Lecciones</button>
      </a>
    </mat-expansion-panel>
  <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header >
          <mat-panel-title>
              <h1>Ukelele</h1>
            </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="assets/images/ukulele peruano.jpg" alt="ukelele" width="150" height="150">
      <!-- <button mat-flat-button>Mis Cursos</button><br>   --> 
      
      <a [routerLink]="['/ukelele']">
          <button mat-flat-button>Ver Lecciones</button>
      </a>
    </mat-expansion-panel>
  <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header >
          <mat-panel-title>
              <h1>Guitarra</h1>
            </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="assets/images/guitarra peruana.jpg" alt="Guitarra" width="150" height="150">
      <!-- <button mat-flat-button>Mis Cursos</button><br>   -->  
      <a [routerLink]="['/guitarra']">
          <button mat-flat-button>Ver Lecciones</button>
      </a>
    </mat-expansion-panel>



