<h1>
  ¿En que consiste?
</h1>
<p>Acordes Facilitos es un portal Web e aprendizaje musical enfocado
  en las lecciones de intrumentos poco convencionales
</p>

<h2>¿Que ofrecemos?</h2>
<p>Ofrecemos a nuestros usuarios un portal de conocimiento
  amplio enenseñanza a nuevos aprendices. en donde cada uno
  podrá visitar las lecciones que desee ¡cuantas veces quiera!
  y avanzar a su propio ritmo, ofrecemos tambien, ejercicios
  de pracica y la posibilidad de interactuar con un docente
  para programar clases particulares, ¿Que esperas? ¡Escoge un instrumento
  y comencemos !
</p>